@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .maplibregl-popup-content {
    @apply bg-transparent ! shadow-none ! p-0 ! rounded-none !;
  }

  .maplibregl-popup-tip {
    @apply hidden !;
  }

  /* Global body reset for dark theme */
  body {
    @apply bg-background text-white antialiased font-display;
  }
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* Additional safe area utilities */
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}